.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1f2937; /* Tailwind bg-gray-800 */
  color: #ffffff; /* Tailwind text-white */
  padding: 5px 10px; /* Tailwind py-2 px-5 */
  font-weight: bold;
  font-size: 1.25rem; /* Tailwind text-xl */
}
.logo{
    font-size:24px;
    font-weight:bold;
}
.nav-links{
    list-style-type:none;
    display:flex;
    gap:25px;
}
.nav-links a{
    color:#fff;
    text-decoration:none;
    font-weight:500;

}
.nav-links a:hover{
    color:bisque;
}